<ion-view title="Продукция" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page1-button11" class=" button button-positive  button-block ">Хлебное меню</button>
        <button id="page1-button12" class=" button button-positive  button-block ">Кондитерские изделия</button>
        <ion-list id="page1-list3" class=" ">
            <ion-item class="item-thumbnail-left  " id="page1-list-item7">
                <img src="img/wYHHyNDSmKTATZMtgKKq__bread.jpg">
                <h2>Хлеб бородинский</h2>
                <p>20 руб.</p>
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" id="page1-toggle2" class=" ">Положить в корзину</ion-toggle>
            <ion-item class="item-thumbnail-left  " id="page1-list-item8">
                <img src="img/B7vIuyJmSv6znrgILhQQ__bread.jpg">
                <h2>Хлеб бородинский</h2>
                <p>20 руб.</p>
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" id="page1-toggle1" class=" ">Положить в корзину</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>